<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321928406305-mfslfm0q3er6u1l2tdq0cd91elhfiahj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321928406305-mfslfm0q3er6u1l2tdq0cd91elhfiahj</string>
	<key>API_KEY</key>
	<string>AIzaSyC3yeZZAWKwjBn7ipHVwqB6Wlc-sDVjG7k</string>
	<key>GCM_SENDER_ID</key>
	<string>321928406305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metatony.chatapp</string>
	<key>PROJECT_ID</key>
	<string>ppam-b6d51</string>
	<key>STORAGE_BUCKET</key>
	<string>ppam-b6d51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321928406305:ios:2881e0954103a171c84a60</string>
	<key>DATABASE_URL</key>
	<string>https://ppam-b6d51-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>